@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap%27");

.divBasket {
  color: #0c193a;
  font-family: Open sans-serif;
  text-align: left;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
  background-color: #f5f6f7;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}
.divBasket {
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #12367a;
  color: #ffffff;
  cursor: pointer;
  border: none;
  padding: 10px;
  box-shadow: 0 2px 4px #0c193a;
}
