.CartPage_content__pcGNd {
  padding: 16px 16px 0;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: Open Sans, mm-main, arial, sans-serif;
  font-size: 14px;
}
.tabItem_c5cdd25a {
  cursor: pointer;
  border: none;
}
.tabItem_c5cdd25a {
  color: #0c193a;
  border: none;
}
.tabItem_c5cdd25a .tabButton_c5cdd25a {
  height: 100%;
  margin: 0;
  border: none;
  padding: 8px;
  color: #b4b4b4;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
}
.tabButtonNoWrap_c5cdd25a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fullWidth_e79faaed {
  width: calc(100% - 4px);
  max-width: unset;
}

.ContinueShoppingButton_root__gMb7u {
  display: -webkit-inline-flex;
  display: inline-flex;
  text-align: left;
  padding: 0;
  margin: 0;
}
.button_e79faaed {
  box-sizing: border-box;
  font-family: Open, arial, sans-serif;
  color: #0c193a;
  width: auto;
  max-width: 360px;
  padding: 0 16px;
  margin: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in;
  border: 1px solid transparent;
}
.icon_e79faaed {
  color: inherit;
  display: inherit;
}
.ContinueShoppingButton_root__gMb7u svg {
  width: 25px;
  height: 25px;
  transition: all 0.4s linear;
}
.svg_9c8206b6 {
  display: inline-block;
  flex-shrink: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  fill: currentColor;
  width: auto;
  height: auto;
  font-size: 1.5rem;
  transition: fill 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.semiBold_c380a67c {
  font-weight: 600;
}
.body2_c380a67c {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.primaryDark_c380a67c {
  color: #0c193a;
}
.root_c380a67c {
  font-family: Open Sans, mm-main, arial, sans-serif;
  letter-spacing: normal;
}

.ContinueShoppingButton_root__gMb7u {
  text-align: left;
}
.tablist_5eb44382 {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 48px;
  border-bottom: 1px solid #b1b5c0;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
}

.tabItem_c5cdd25a {
  padding-top: 4px;
  height: 100%;
  list-style: none;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  text-align: center;
}

.tabItem_c5cdd25a {
  cursor: default;
}
.tabItem_c5cdd25a {
  color: #0c193a;
}
.tabItem_c5cdd25a .tabButton_c5cdd25a {
  height: 100%;
  margin: 0;
  padding: 8px;
  color: #b4b4b4;
  font-size: 16px;
  font-weight: 600;
}
.tabButtonNoWrap_c5cdd25a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fullWidth_e79faaed {
  width: calc(100% - 4px);
  max-width: unset;
}
.button_e79faaed {
  box-sizing: border-box;
  font-family: Open Sans, mm-main, arial, sans-serif;
  color: #0c193a;
  width: auto;
  max-width: 360px;
  padding: 0 16px;
  margin: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in;
  border: 1px solid transparent;
}
.tabItem_c5cdd25a {
  padding-top: 4px;
  height: 100%;
  list-style: none;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  text-align: center;
}

.tabItem_c5cdd25a {
  list-style: none;
  text-align: center;
}

.button_e79faaed {
  font-family: Open Sans, mm-main, arial, sans-serif;
  color: #0c193a;
  cursor: pointer;
  text-align: center;
}

.root_5eb44382 {
  position: relative;
}

.tabItem_c5cdd25a .tabButton_c5cdd25a {
  height: 100%;
  margin: 0;
  padding: 8px;
  color: #b4b4b4;
  font-size: 16px;
  font-weight: 600;
}
.tabButtonNoWrap_c5cdd25a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fullWidth_e79faaed {
  width: calc(100% - 4px);
  max-width: unset;
}
.button_e79faaed {
  box-sizing: border-box;
  font-family: Open Sans, mm-main, arial, sans-serif;
  color: #0c193a;
  width: auto;
  max-width: 360px;
  padding: 0 16px;
  margin: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in;
  border: 1px solid transparent;
}
.iconLeft_e79faaed {
  margin-right: 4px;
}
.tabButtonNoWrap_c5cdd25a {
  white-space: nowrap;
}
.tabItem_c5cdd25a {
  list-style: none;
  text-align: center;
}

.icon_e79faaed svg {
  height: 24px;
  width: 24px;
  fill: currentColor;
}
.svg_9c8206b6 {
  display: inline-block;
  flex-shrink: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  fill: currentColor;
  width: auto;
  height: auto;
  font-size: 1.5rem;
  transition: fill 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.icon_e79faaed {
  color: inherit;
}
.tabItem_c5cdd25a .tabButton_c5cdd25a {
  background-color: transparent;
  color: #b4b4b4;
  font-size: 16px;
  font-weight: 600;
}
.tabButtonNoWrap_c5cdd25a {
  white-space: nowrap;
}

.tabItem_c5cdd25a {
  list-style: none;
  text-align: center;
}

.icon_e79faaed svg {
  fill: currentColor;
}
.svg_9c8206b6 {
  fill: currentColor;
  font-size: 1.5rem;
}
.icon_e79faaed {
  color: inherit;
}
.themeDefault_e79faaed:hover {
  background-color: #12ccb4;
}
.variantPrimary_e79faaed,
.variantSecondary_e79faaed {
  min-height: 48px;
  min-width: 48px;
  font-size: 16px;
  font-weight: 600;
}
.themeDefault_e79faaed {
  background-color: #29b9ad;
}
.fullWidth_e79faaed {
  width: calc(100% - 4px);
  max-width: unset;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: Open Sans, mm-main, arial, sans-serif;
  font-size: 14px;
}
.tabItem_c5cdd25a .tabButton_c5cdd25a {
  color: #505971;
  font-size: 16px;
  font-weight: 600;
}
.tabButtonNoWrap_c5cdd25a {
  white-space: nowrap;
}
.button_e79faaed {
  font-family: Open Sans, mm-main, arial, sans-serif;
  color: #0c193a;
  cursor: pointer;
  text-align: center;
}
.tabItem_c5cdd25a {
  list-style: none;
  text-align: center;
}

.tabButtonNoWrap_c5cdd25a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabItem_c5cdd25a .tabButton_c5cdd25a:not([aria-selected="true"]) {
  color: #505971;
  background-color: transparent;
}
.button_e79faaed {
  font-family: Open Sans, mm-main, arial, sans-serif;
  color: #0c193a;
  cursor: pointer;
  text-align: center;
}
.tabItem_c5cdd25a {
  list-style: none;
  text-align: center;
}

.tabItem_c5cdd25a {
  list-style: none;
  text-align: center;
}

body {
  font-family: Open Sans, mm-main, arial, sans-serif;
  font-size: 14px;
}
.CartPage_content__pcGNd {
  padding: 16px 16px 0;
  margin-left: auto;
  margin-right: auto;
}
.CartPage_flashMessage__ChRkw {
  margin-bottom: 12px;
}
.FlashMessages_withoutHeight__JMNHL {
  height: 0;
  padding: 0;
}
.FlashMessages_flashMessage__a_1f7 {
  display: -webkit-flex;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  widows: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  height: 0;
  transition: height 0.5s;
  z-index: 20;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: Open Sans, mm-main, arial, sans-serif;
  font-size: 14px;
}
.Title_root__67XkZ {
  margin: 16px 0;
}
.bold_c380a67c {
  font-weight: 700;
}
.body1_c380a67c {
  font-size: 16px;
  line-height: 24px;
}
.body1_c380a67c,
.h4_c380a67c {
  font-weight: 400;
}
.primaryDark_c380a67c {
  color: #0c193a;
}
.root_c380a67c {
  font-family: Open Sans, mm-main, arial, sans-serif;
  letter-spacing: normal;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: Open Sans, mm-main, arial, sans-serif;
  font-size: 14px;
}
.Empty_root__Va08b {
  color: #505971;
}
.regular_c380a67c {
  font-weight: 400;
}
.body2_c380a67c {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.primaryDark_c380a67c {
  color: #0c193a;
}
.root_c380a67c {
  font-family: Open Sans, mm-main, arial, sans-serif;
  letter-spacing: normal;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: Open Sans, mm-main, arial, sans-serif;
  font-size: 14px;
}
.Empty_root__Va08b svg {
  display: block;
  margin: 48px auto;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.Empty_root__Va08b {
  color: #505971;
}
.regular_c380a67c {
  font-weight: 400;
}
.body2_c380a67c {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.primaryDark_c380a67c {
  color: #0c193a;
}
.root_c380a67c {
  font-family: Open Sans, mm-main, arial, sans-serif;
  letter-spacing: normal;
}
body {
  font-family: Open Sans, mm-main, arial, sans-serif;
  font-size: 14px;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.Empty_root__Va08b {
  color: #505971;
}
.regular_c380a67c {
  font-weight: 400;
}
.body2_c380a67c {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.primaryDark_c380a67c {
  color: #0c193a;
}
.root_c380a67c {
  font-family: Open Sans, mm-main, arial, sans-serif;
  letter-spacing: normal;
}
body {
  font-family: Open Sans, mm-main, arial, sans-serif;
  font-size: 14px;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.Empty_root__Va08b {
  color: #505971;
}
.regular_c380a67c {
  font-weight: 400;
}
.body2_c380a67c {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.primaryDark_c380a67c {
  color: #0c193a;
}
.root_c380a67c {
  font-family: Open Sans, mm-main, arial, sans-serif;
  letter-spacing: normal;
}
body {
  font-family: Open Sans, mm-main, arial, sans-serif;
  font-size: 14px;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.Empty_root__Va08b {
  color: #505971;
}
.regular_c380a67c {
  font-weight: 400;
}
.body2_c380a67c {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.primaryDark_c380a67c {
  color: #0c193a;
}
.root_c380a67c {
  font-family: Open Sans, mm-main, arial, sans-serif;
  letter-spacing: normal;
}
body {
  font-family: Open Sans, mm-main, arial, sans-serif;
  font-size: 14px;
}
.Empty_connect__jQQUo {
  background: #fff;
  padding: 16px;
  text-align: center;
  margin: 16px 0;
}
.regular_c380a67c {
  font-weight: 400;
}
.body2_c380a67c {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.primaryDark_c380a67c {
  color: #0c193a;
}
.root_c380a67c {
  font-family: Open Sans, mm-main, arial, sans-serif;
  letter-spacing: normal;
}
.Empty_connectCta__PlVHI {
  width: auto;
  min-width: 300px;
  max-width: 300px;
}
.Empty_connectCta__PlVHI {
  margin: 20px auto 0;
  display: -webkit-flex;
  display: flex;
}
.variantPrimary_e79faaed,
.variantSecondary_e79faaed {
  min-height: 48px;
  min-width: 48px;
  font-size: 16px;
  font-weight: 600;
}
.themeDefault_e79faaed {
  background-color: #29b9ad;
}
.button_e79faaed {
  box-sizing: border-box;
  font-family: Open Sans, mm-main, arial, sans-serif;
  color: #0c193a;
  width: auto;
  max-width: 360px;
  padding: 0 16px;
  margin: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in;
  border: 1px solid transparent;
  background-color: #12ccb4;
}

.Empty_connect__jQQUo {
  text-align: center;
}
.regular_c380a67c {
  font-weight: 400;
}
.body2_c380a67c {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.primaryDark_c380a67c {
  color: #0c193a;
}
.root_c380a67c {
  font-family: Open Sans, mm-main, arial, sans-serif;
  letter-spacing: normal;
}

.PayBox_root__81owX.PayBox_side__Hcjr_ {
  background: #fff;
}
.CartPage_paybox__OLV7r {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}
.PayBox_root__81owX {
  padding: 16px 16px calc(16px + env(safe-area-inset-bottom));
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
  border-top: 1px solid #ecedf0;
}

.PayBox_root__81owX.PayBox_side__Hcjr_ dl {
  padding: 0;
  margin: 0 0 16px;
  display: -webkit-flex;
  display: flex;
}

.PayBox_root__81owX.PayBox_side__Hcjr_ dl dt {
  max-width: 65%;
  color: #0c193a;
}

.TotalLabel_totalLabel__WqH_O {
  padding-top: 4px;
}
.bold_c380a67c {
  font-weight: 700;
}
.body1_c380a67c {
  font-size: 16px;
  line-height: 24px;
}
.body1_c380a67c,
.h4_c380a67c {
  font-weight: 400;
}
.primaryDark_c380a67c {
  color: #0c193a;
}
.root_c380a67c {
  font-family: Open Sans, mm-main, arial, sans-serif;
  letter-spacing: normal;
}

.PayBox_root__81owX.PayBox_side__Hcjr_ dl dt {
  color: #0c193a;
}

.TotalLabel_taxInfo__bs3iZ {
  padding-top: 6px;
}
.regular_c380a67c {
  font-weight: 400;
}
.primaryDark_c380a67c {
  color: #0c193a;
}
.root_c380a67c {
  font-family: Open Sans, mm-main, arial, sans-serif;
  letter-spacing: normal;
}

.PayBox_root__81owX.PayBox_side__Hcjr_ dl dt {
  color: #0c193a;
}

.TotalLabel_plusDelivery__FrIXV {
  display: block;
  color: #505971;
}
.regular_c380a67c {
  font-weight: 400;
}
.small_c380a67c,
.tiny_c380a67c {
  line-height: 16px;
  font-weight: 400;
}
.small_c380a67c {
  font-size: 12px;
}
.primaryDark_c380a67c {
  color: #0c193a;
}
.root_c380a67c {
  font-family: Open Sans, mm-main, arial, sans-serif;
  letter-spacing: normal;
}
.PayBox_root__81owX.PayBox_side__Hcjr_ dl dd {
  margin-left: 16px;
  margin-right: 16px;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  text-align: right;
  color: #0c193a;
  white-space: nowrap;
}
.bold_c380a67c {
  font-weight: 700;
}
.h2_c380a67c,
.h3_c380a67c {
  font-weight: 400;
}
.h2_c380a67c {
  font-size: 32px;
  line-height: 44px;
}
.primaryDark_c380a67c {
  color: #0c193a;
}
.root_c380a67c {
  font-family: Open Sans, mm-main, arial, sans-serif;
  letter-spacing: normal;
}

.PayBox_root__81owX.PayBox_side__Hcjr_ .PayBox_price__GC7ls {
  display: -webkit-inline-flex;
  display: inline-flex;
}
.PayBox_priceSpacing__7cuEO {
  margin-right: 25px;
}
.root_640baa97 {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  font-size: 1em;
  line-height: 1em;
  font-family: Open Sans, mm-main, arial, sans-serif;
  white-space: nowrap;
}
body *,
body ::after,
body ::before {
  box-sizing: border-box;
}
.tabItem_c5cdd25a {
  list-style: none;
  text-align: center;
}
body .button_e79faaed {
  box-sizing: border-box;
  font-family: Open Sans, mm-main, arial, sans-serif;
  color: #0c193a;
  width: auto;
  max-width: 360px;
  padding: 0 16px;
  margin: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.3s ease-in;
  border: 1px solid transparent;
}

.PayBox_root__81owX.PayBox_side__Hcjr_ dl dt {
  color: #0c193a;
}

body {
  font-family: Open Sans, mm-main, arial, sans-serif;
  font-size: 14px;
}

body {
  font-family: Open Sans, mm-main, arial, sans-serif;
  font-size: 14px;
  .button_e79faaed {
    box-sizing: border-box;
    font-family: Open Sans, mm-main, arial, sans-serif;
    color: #0c193a;
    width: auto;
    max-width: 360px;
    padding: 0 16px;
    margin: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #12ccb4;
    border-radius: 4px;
    transition: background-color 0.3s ease-in;
    border: 1px solid transparent;
  }
}
.tabItem_c5cdd25a {
  list-style: none;
  text-align: center;
}
body {
  font-family: Open Sans, mm-main, arial, sans-serif;
  font-size: 14px;
}
.themeDefault_e79faaed:hover {
  background-color: #12ccb4;
}
.themeDefault_e79faaed {
  background-color: #29b9ad;
}
.fullWidth_e79faaed {
  width: calc(100% - 4px);
  max-width: unset;
}
.button_e79faaed {
  box-sizing: border-box;
  font-family: Open Sans, mm-main, arial, sans-serif;
  color: #0c193a;
  width: auto;
  max-width: 360px;
  padding: 0 16px;
  margin: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #12ccb4;
  border-radius: 4px;
  transition: background-color 0.3s ease-in;
  border: 1px solid transparent;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: Open Sans, mm-main, arial, sans-serif;
  font-size: 14px;
}
