//variables
$main-color: #1e3c87;
$white: white;
$color-input: #f5f6f7;
header {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  color: $main-color;
  .header-first-level {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;

    .container-identifiant-panier {
      display: flex;
      .sign-up {
        font-weight: 500;
        padding-right: 20px;
      }
      i {
        cursor: pointer;
      }
    }
  }
  .header-second-level {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    button {
      height: 40px;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 50px;
    }

    .search {
      border: 1px solid grey;
      margin-right: 10px;
      margin-left: 10px;
      flex: 1;
      border-radius: 50px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-input;
      i {
        font-size: 14px;
      }
      input {
        border: none;
        background-color: $color-input;
      }
      input:focus {
        outline: none;
      }
    }

    button {
      border: none;
      background-color: $main-color;
      color: $white;
    }
  }
  .list-sells {
    display: flex;
    overflow: scroll;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 20px;
  }
  li {
    padding-right: 15px;
  }
}

.list-sells::-webkit-scrollbar {
  display: none;
}
.list-sells {
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
}
